@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Source+Code+Pro:wght@300;400&display=swap');
body {
    margin: 0px;
    font-family: 'Roboto Mono';
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

#center {
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    position: absolute;
}

#friends {
    border: 2px solid #074eb8;
    background-color: none;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
    color: #074eb8;
    transition: 0.3s background, 0.3s color;
    width: 200px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}

#friends:hover {
    background-color: #074eb8;
    color: #fff;
}

#name {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0px 0px 20px #0000003b;
}

#avatar {
    width: 150px !important;
    height: 150px !important;
    background: rgb(56, 56, 56);
    border-radius: 300px;
    position: relative;
    margin-right: 20px;
    background-size: 100%;
    border: 5px solid #ffffff;
}

div#friend {
    width: 90%;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0px);
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#descriptionEx {
    color: #e6e6e6;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden !important;
}

div#description {
    color: #e6e6e6;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden !important;
    max-height: 130px;
}

div#container {
    width: calc(90% - 20px);
    left: 5%;
    padding: 10px;
    padding-top: 1px;
    margin-bottom: 50px;
    margin-top: 100px;
    position: relative;
}

#desc_container {
    width: calc(100% - 300px);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    #friend {
        display: block !important;
    }
    #avatar {
        transform: translate(-50%, 0);
        left: 50%;
    }
    #desc_container {
        width: 100%;
        text-align: center;
    }
}
